@page "/Drug/AddDrug"
@using MedicalUser.Data
@using MedicalUser.Model;
@inject DrugService drugService
@inject NavigationManager navManger;


<h1>Add Drug</h1>
<hr />
<EditForm Model="@objDrug" OnValidSubmit="@AddDrugDetails">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Trde_Name" class="control-label">Trde_Name</label>
                <input form="Trde_Name" class="form-control" placeholder="Enter Drug Name" @bind="objDrug.Trde_Name" />
                <ValidationMessage For="@(() => objDrug.Trde_Name)" />
            </div>

            <div class="form-group">
                <label for="Generic_Name" class="control-label">Generic_Name</label>
                <input form="Generic_Name" class="form-control" placeholder="Enter Genaric" @bind="objDrug.Generic_Name" />
                <ValidationMessage For="@(() => objDrug.Generic_Name)"/>
            </div>

            <div class="form-group">
                <label for="Note" class="control-label" >Note</label>
                <input form="Note" class="form-control" placeholder="Enter Drugs Note" @bind="objDrug.Note" />
                <ValidationMessage For="@(() => objDrug.Note)" />

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
                <button type="submit" class="btn btn-info" Style="margin-top:10px">Save</button>

                <button type="reset" class="btn btn-danger" Style="margin-top:10px" @onclick="@Cancel">Cancel</button>
        </div>
    </div>
</EditForm>



@code {
    Drug objDrug = new Drug();
    bool displayValidationErrorMessages = false;
    bool displayUserAddedToDB = false;
    private void AddDrugDetails(EditContext context)
    {

        displayValidationErrorMessages = false;
        displayUserAddedToDB = true;
        drugService.AddDrugDetails(objDrug);
        navManger.NavigateTo("Drug/drugList");
    }
    private void Cancel()
    {
        displayValidationErrorMessages = true;
        displayUserAddedToDB = false;
        navManger.NavigateTo("Coustomer/customerList");
    }
}
