@page "/Test/AddTest"
@using MedicalUser.Data
@using MedicalUser.Model;
@inject TestService testService
@inject NavigationManager navManger;


<h1>Add Test</h1>
<hr />
<EditForm Model="@objTest" OnValidSubmit="@AddTestDetail">
    <DataAnnotationsValidator/>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Test_Name" class="control-label">Test_Name</label>
                <input form="Test_Name" class="form-control" placeholder="Enter Test Name" @bind="objTest.Test_Name" />
                <ValidationMessage For="@(() => objTest.Test_Name)"/>
            </div>

            <div class="form-group">
                <label for="Test_Description" class="control-label">Test_Description</label>
                <input form="Test_Description" class="form-control" placeholder="Enter Description" @bind="objTest.Test_Description" />
                <ValidationMessage For="@(() => objTest.Test_Description)"/>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            @*<input type="button" class="btn btn-primary" @onclick="@AddTestDetail" value="Save" />
            <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />*@
            <button type="submit" class="btn btn-info" Style="margin-top:10px">Save</button>

            <button type="reset" class="btn btn-danger" Style="margin-top:10px" @onclick="@Cancel">Cancel</button>
        </div>
    </div>
</EditForm>



@code {
    Test objTest = new Test();
    bool displayValidationErrorMessages = false;
    bool displayUserAddedToDB = false;

    protected void AddTestDetail()
    {
        displayUserAddedToDB = false;
        displayValidationErrorMessages = false;
        testService.AddTestDetails(objTest);
        navManger.NavigateTo("Test/testList");
    }
    void Cancel()
    {
        displayUserAddedToDB = false;
        displayValidationErrorMessages = false;
        navManger.NavigateTo("Test/testList");
    }
}
